@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    background-color: var(--light-bg-color, #FBF9F4);
    border-color: var(--light-border-color, rgb(200, 200, 200));
}

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}

body {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    width: 340px;
    margin: auto;
}

#dark-mode {
    background-color: #FBF9F4;
    cursor: pointer;
}

#dark-mode:hover {
    transform: scale(1.25);
}

#light-mode-on {
    display: none;
}

main {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.500);
    border-radius: 10px;
    width: 340px;
    margin: .5rem;
    margin: auto;
}

section {
    padding: 0rem .5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,1fr);
    gap: 1rem;
}

#history {
    width: 100%;
    height: 1.75rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    grid-column: span 4;
    justify-self: flex-end;
    align-self: center;
    margin-top: .75rem;
}

#history > span {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: .75rem;
    padding-right: .25rem;
}

#result {
    width: 100%;
    height: 3rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    justify-self: flex-end;
    align-self: center;
    grid-column: span 4;
    margin: -.15rem 0rem .15rem;
}

#result > span {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: .25rem;
    font-size: 1.5rem;
    font-weight: 500;
}

section {
    padding-bottom: .75rem;
}

section > button {
    border-radius: 250px;
}

section > button:hover {
    font-variation-settings: 'fill' 0, 'wght' 600, 'grad' 0, 'ospz' 24;
    font-size: 1.25rem;
}

section > button:active {
    font-variation-settings: 'fill' 0, 'wght' 800, 'grad' 0, 'ospz' 36;
}

#backspace {
    grid-column: span 2;
}

footer {
    position: relative;
    margin-top: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: .75rem;
    padding: .25rem;
}

footer > a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}